*{
    margin: 0 0 0 0;
    padding: 0;
}

body {
    background-image: url("http://www.porjati.ru/uploads/posts/2013-09/thumbs/1380204950_5.jpg");
    background-size: cover;

}
.box {
    width: 700px;
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;


}
.txt{
    margin: 10px 0px 0px 10px;
    margin-bottom: 30px;
}
.txt2{
    margin: 10px 0px 0px 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: solid 2px black;
}

.list > ul {
display: inline-block;
    margin-left: 30px;
    vertical-align: top;
    list-style: none;
}

li:before {
    content: "\2192  ";
color: #32e01f;
}

.pic{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}