<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <title>Flex</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="wrapper">

    <div class="nav">

        <a><h2 class="logo">LOGO</h2></a>
        <ul class="ul">
            <li class="li"><a class="a" href="#">LADEL</a> </li>
            <li class="li"><a class="a"  href="#">LADEL</a> </li>
            <li class="li"><a class="a"  href="#">LADEL</a> </li>
            <li class="li"><a class="a"  href="#">SING IN</a> </li>
        </ul>
    </div>

    <div class="mission">


        <h2 class="mission-title"> Our Mission </h2>
            <p class="p1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p>

    </div>

    <div class="about">

        <h2 class="about-title"> About </h2>
        <p class="p2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p>

    </div>

    <div class="team">

        <h2 class="team-title">Team</h2>

        <ul class="team-list">

            <li><figure class="team-fig"><img class="team-img" src="img/1X.png"><figcaption>eJohn Doe
                Founder & CEO</figcaption></figure></li>

            <li class="team-li"><figure class="team-fig"><img class="team-img" src="img/2X.png"><figcaption>John Doe
                Co- Founder</figcaption></figure></li>

            <li><figure class="team-fig"><img class="team-img" src="img/3X.png"><figcaption>John Doe
                Investor</figcaption></figure></li>
        </ul>



        <button type="button">work with us</button>
    </div>
    <div class="map"><img class="map-img" src="img/Map.png"></div>

    <div class="footer">

        <ul class="footer-ul">

            <li class="footer-li"><a class="footer-a" href="#">About</a> </li>
            <li class="footer-li"><a class="footer-a" href="#">FAQ</a> </li>
            <li class="footer-li"><a class="footer-a" href="#">work whith us</a></li>
        </ul>

            <ul class="footer-ul2">

            <li class="footer-li2"><i class="fa fa-envelope" aria-hidden="true"></i></li>
            <li class="footer-li2" ><i class="fa fa-facebook" aria-hidden="true"></i></li>
            <li class="footer-li2"><i class="fa fa-twitter" aria-hidden="true"></i></li>
        </ul>



    </div>
    <div class="footer2"><p>Privacy Policy    |    Terms and Conditions    |    © Company.LLC 2014</p></div>


</div>





</body>



</html>